:host {
  margin: 10px;
}

.auction-item {
  /*margin: 10px;*/
  cursor: pointer;
}

.auction-item--add {
  min-width: 120px;
  min-height: 120px;
  position: relative;
  background: rgba(230, 230, 230, .2);
  border: 2px dashed #CCCCCC;
  color: #CCCCCC;
  text-align: center;
}

.auction-item-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.auction-item--add > clr-icon {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20%;
  margin-top: -20%;
}

